<block tpl-id="addArticle">

    <div id="chatChannelMain">
		<div id="toolbar">
			<button class="btn-left" id="backToIndex4">返回</button>
			<span></span>			
		</div>
		
		<div id="channel">
            <form id="upload_form" enctype="multipart/form-data" method="post">
			<table>
                <tr>
                    <th><label for="article_title">标题</label></th>
                    <td><input type="text" id="article_title" name="article_title"/></td>
                </tr>
                <tr>
                    <th><label for="article_pic">Logo</label></th>
                    <td>
                    <input type="hidden" name ="article_pic" id ="article_pic" value="" />
                    <img id="preview" width="72" height="72" />
                    <input type="file" name="myfile1" id="myfile1" />
                    <input type="button" id="startupload" value="上传" class="button" />
                    </td>
                </tr>
                <tr>
                    <th><label for="article_desc">概要</label></th>
                    <td><input type="text" id="article_desc" name="article_desc"/></td>
                </tr>
                <tr>
                    <th><label for="article_content">内容</label></th>
                    <td>
                    <textarea id="article_content" name="article_content" rows="3"></textarea>
                    </td>
                </tr>
                <tr>
                    <th><label for="article_username">连接到</label></th>
                    <td><input type="text" id="article_username" name="article_username" placeholder="这里填写用户名"/></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button id="submit_article" >发布</button></td>
                </tr>
            </table>
            </form>
		</div>
        
	</div>
 
 </block>