

    <div id="chatChannelMain">
		<div id="toolbar">
			<button class="btn-left" id="backToIndex2">首页</button>
			<span>登录</span>
            <button class="btn-right" id="toRegister">注册</button>			
		</div>
		
		<div id="channel">
			<table>
                <tr>
                    <th><label for="username">用户名</label></th>
                    <td><input type="text" id="username" name="username"/></td>
                </tr>
                <tr>
                    <th><label for="password">  密码</label></th>
                    <td><input type="password" id="password" name="password"/></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button id="login" >登录</button></td>
                </tr>
            </table>
		</div>
        
        <div id="show_userinfo"></div>
        
	</div>
    