
    <div id="chatChannelMain">
		<div id="toolbar">
			<button class="btn-left" id="backToIndex">首页</button>
			<span>注册</span>
            <button class="btn-right" id="toAuth">登录</button>
		</div>
		
		<div id="channel">
			<table>
                <tr>
                    <th><label for="register_username">用户名</label></th>
                    <td><input type="text" id="register_username" name="register_username"/></td>
                </tr>
                <tr>
                    <th><label for="register_password">  密码</label></th>
                    <td><input type="password" id="register_password" name="register_password"/></td>
                </tr>
                <tr>
                    <th><label for="register_email">电子邮箱</label></th>
                    <td><input type="text" id="register_email" name="register_email"/></td>
                </tr>
                <tr>
                    <th><label for="register_mobile">联系电话</label></th>
                    <td><input type="text" id="register_mobile" name="register_mobile"/></td>
                </tr>
                <tr>
                    <th></th>
                    <td><button id="register" >注册</button></td>
                </tr>
            </table>
		</div>
	</div>